@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-white bg-background;
    font-family: "Gabarito", sans-serif;
  }
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  /* width: 32px;
  height: 32px; */
  width: 100%;
  height: 100%;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}
